main
{
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin: 5px 15px;

    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 0px;

    font-weight: bold;
}

button:hover {
    background-color: brown;
    cursor: pointer;
}

.btDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}