#spDiv {
    width : 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
}

#spDiv > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    margin: 5px;
    border-radius: 50%;

    font-weight: bold;
}

.sp0{
    background-color: yellow;
    color: white;
}

.sp1{
    background-color: blue;
    color: white;
}

.sp2{
    background-color: red;
    color: white;
}

.sp3{
    background-color: gray;
    color: white;
}

.sp4{
    background-color: green;
    color: white;
}

.spplus{
    background-color: white;
    color: black;
    font-size:24px;
}